

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation Barre*/
nav {
    /* Layout */
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 10px;
    left: 10px;

    /* Dimensions*/
    width: 97.5%;
    padding: 10px 20px;
    box-sizing: border-box;

    /* Style */
    background-color: rgb(157, 164, 245);
    border : 3px solid rgb(13, 23, 130);
    border-radius: 50px;
}

.nav-link {
    text-decoration: none;
    color: rgb(13, 23, 130);
    background-color: rgb(109, 120, 242);
    border: solid rgb(109, 120, 242);
    border-width: 10px;
    border-radius: 50px;

}

/*MyCardPerso*/


.MyCard {
    margin-top: 100px;
    margin-left: 10px;
    width: 500px;
    background-color: rgb(157, 164, 245);
    border : 3px solid rgb(13, 23, 130);
    border-radius: 50px;
}

.MyCard img {
    margin-left: 10px;
    margin-top: 10px;
    width: 40%;
    height: auto;
    border-radius: 35px;
    border : solid rgb(13, 23, 130) 3px;
    margin-bottom : 10px;
}

.MyCard-Titre {
    margin-top : 10px;
    margin-left: 40px;
    margin-right : 30px;
    display: flex;
    justify-content: space-between;
}

.MyCard-Body{
    display: flex;
    justify-content: space-between;
}

.MyCard-SchoolInfos {
    margin-left : -5px;
    display: flex;
}

.MyCard-SchoolInfos img {
    width: 40%;
    height: auto;
    border : none;
}

.MyCard-SchoolInfos a {
    margin-top : 53px;
    margin-left : -35px;
    font-size : 28px;
    text-decoration: underline;
    color: rgb(66, 15, 161);
}

.MyCard-Contact {
    margin-left : 25px;
    margin-right : 25px;
    margin-bottom : 10px;
    border : solid rgb(13, 23, 130) 3px;
    background-color: rgb(109, 120, 242);
    
    border-radius: 35px;
    
}

.MyCard-Bis {
    display: flex; 
    align-items: center;
    margin-top : 5px;
    margin-bottom : 5px;

}

.MyCard-Bis img {
    width: 15%;
    height: auto;
    border: none;
}
.MyCard-Bis a {
    margin-top : 10px;
    margin-left : 10px;
    font-size : 20px;
    text-decoration: None;
}

