

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    
    /*Colors*/
    --bgColor : rgb(158, 192, 240);
    --darkBlue : rgb(13, 23, 130);
    --purple : rgb(66, 15, 161);
    --firstLayerColor : rgb(157, 164, 245);
    --secondLayerColor : rgb(109, 120, 242);
    
    /*Preset Bordure*/
    --bordure :3px solid var(--darkBlue);

    /*Angles Bordure*/

}


body {
    background-color: var(--bgColor);
}


.MyCourse{

    background-color: var(--firstLayerColor);
    border : var(--bordure);
    border-radius: 50px;
}


/* Navigation Barre*/
nav {
    /* Layout */
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 10px;
    left: 10px;

    /* Dimensions*/
    width: 97.5%;
    padding: 10px 20px;
    box-sizing: border-box;

    /* Style */
    background-color: var(--firstLayerColor);
    border : var(--bordure);
    border-radius: 50px;
}

.nav-link {
    text-decoration: none;
    color: var(--darkBlue);
    background-color: var(--secondLayerColor);
    border: solid var(--secondLayerColor);
    border-width: 10px;
    border-radius: 50px;

}


/*MyCardPerso*/
.MyCard {
    margin-right: 10px;
    width: 35%;
    background-color: rgb(157, 164, 245);
    border : var(--bordure);
    border-radius: 50px;
    min-width : 500px;
    max-width : 900px;
}

.MyCard img {
    margin-left: 10px;
    margin-top: 10px;
    width: 40%;
    height: auto;
    border-radius: 35px;
    border : var(--bordure);
    margin-bottom : 10px;
}

.MyCard-Titre {
    margin-top : 10px;
    margin-left: 40px;
    margin-right : 30px;
    display: flex;
    justify-content: space-between;
}

.MyCard-Body{
    display: flex;
    justify-content: space-between;
}

.MyCard-SchoolInfos {
    margin-left : -5px;
    display: flex;
}

.MyCard-SchoolInfos img {
    width: 40%;
    height: auto;
    border : none;
}

.MyCard-SchoolInfos a {
    margin-top : 53px;
    margin-left : -35px;
    font-size : 28px;
    text-decoration: underline;
    color: var(--purple);
}

.MyCard-Contact {
    margin-left : 25px;
    margin-right : 25px;
    margin-bottom : 10px;
    border : var(--bordure);
    background-color: var(--secondLayerColor);
    min-height : 180px;
    border-radius: 35px;
    
    display: flex; 
    flex-direction: column;
    
    justify-content: space-between;
}

.MyCard-Bis {
    display: flex; 
    align-items: center;
    margin-top : 20px;
    margin-bottom : 20px;

}

.MyCard-Bis img {
    width: 15%;
    height: auto;
    border: none;
}
.MyCard-Bis a {
    margin-left : 10px;
    font-size : 20px;
    text-decoration: None;
}



.Top {
    display: flex;   
    flex-wrap: wrap;
    
    align-items: top;
    margin-top: 100px;
    padding-left : 10px;
    padding-right : 10px;
}

.Top>* {
    flex: 0 1 500px;
}



.Down {
    border : var(--bordure);
    background-color: var(--firstLayerColor);
    border-radius : 50px;
    max-width : 1060px;
    margin-top : 20px;
    margin-left : 0;
    margin-right :0;
    padding : 10px;

}

.All {
    margin : auto;
    max-width: 1060px;
    align-items : left;
}
.MyCourse {
    width: fit-content;
    height: fit-content;
}


@media (min-width: 1060px) {
    .MyCourse {
        margin-left : 30px;
    }

    .Top {
        
    display: flex;
    justify-content: space-between;
    }
}

@media (max-width: 1060px) {
    .MyCourse {
        margin-top : 15px;
    margin-left: 10px;
    }
}



.Down h2 {
    text-decoration: underline;
    margin-left : 40px;
    font-size : 40px;
    margin-bottom: 10px;
}
.Down h3 {
      font-size: 25px;
  margin-left: 60px;
}
.Down p {
        font-size : 18px;
    margin-left: 90px;
    margin-bottom : 20px;
    margin-top : 5px;
    margin-right : 10px;
}



 dl {
    text-decoration: underline;
    margin-left : 40px;
    font-size : 40px;
    margin-bottom: 10px;
}


 dt {
  font-size: 25px;
  margin-left: 60px;
}

 dd {
    font-size : 18px;
    margin-left: 90px;
    margin-bottom : 20px;
    margin-top : 5px;
    margin-right : 10px;
}
